.section-2__container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1000px) 1fr;
  margin: 0 4rem;
  padding: 2rem 0;
}

.section-2__container > h2,
.projects-wrapper {
  grid-column: 2;
  margin-bottom: 1.5rem;
}

.projects-wrapper {
  display: grid;
  min-width: 250px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 4rem;
  list-style: none;
  justify-content: space-evenly;
  align-content: space-between;
}

.projects-wrapper > article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-mono-300);
  align-items: stretch;
}

.projects-wrapper > article > img {
  min-width: 200px;
  background-color: gray;
}

.section-2__project-description {
  padding: 0 1rem 1rem;
}

.section-2__project-description-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.section-2__project-description-header > h3,
.section-2__project-description-header .github-icon {
  display: inline-block;
}

.section-2__project-description-header .github-icon {
  width: 1.7rem;
  height: 1.7rem;
}

@media (max-width: 400px) {
  .section-2__container {
    grid-template-columns: 1fr minmax(250px, 1000px) 1fr;
    margin: 0 1rem;
  }
}
