.section-3 {
  margin: 24rem 0;
}

.section-3__contact-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
  list-style: none;
}

.section-3__contact-info {
  text-align: center;
}

.section-3__contact-info > p {
  margin-bottom: 0.7rem;
}

.section-3__contact-info > p > a {
  text-decoration: none;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--color-purple-100);
}

.section-3__logo {
  display: flex;
  justify-self: center;
  align-self: center;
  width: var(--header-height);
  height: var(--header-height);
}

.section-3__socials-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section-3__socials {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.section-3__socials .github-icon {
  width: var(--icon-width);
  height: var(--icon-width);
}

@media (max-width: 700px) {
  .section-3__contact-wrapper {
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  .section-3 {
    margin: 10rem 0;
  }
  .section-3__contact-wrapper {
    grid-template-columns: unset;
    grid-template-rows: repeat(3, 1fr);
    gap: 6rem;
  }
}
