.section-3 {
  margin: 24rem 0;
}

.section-3__contact-wrapper {
  display: grid;
  grid-template-columns: 10% repeat(3, 26%) 10%;
  justify-content: space-around;
  list-style: none;
}

.section-3__contact-info {
  grid-column: 2;
  text-align: center;
}

.section-3__contact-info > p {
  margin-bottom: 0.7rem;
}

.section-3__contact-info > p > a {
  text-decoration: none;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--color-purple-100);
}

.section-3__logo {
  grid-column: 3;
  display: flex;
  justify-self: center;
  align-self: center;
  width: var(--header-height);
  height: var(--header-height);
}

.section-3__socials-wrapper {
  grid-column: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section-3__socials {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
}

.section-3__socials .github-icon,
.section-3__socials .linkedin-icon,
.section-3__socials .stackoverflow-icon {
  width: var(--icon-width);
  height: var(--icon-width);
}

@media (min-width: 1600px) {
  .section-3__contact-wrapper {
    grid-template-columns: 24% repeat(3, 17%) 24%;
  }
}

@media (min-width: 1600px) {
  .section-3__contact-wrapper {
    grid-template-columns: 18% repeat(3, 21%) 18%;
  }
}

@media (max-width: 700px) {
  .section-3__contact-wrapper {
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .section-3 {
    margin: 10rem 0;
  }
  .section-3__contact-info {
    grid-column: unset;
  }
  .section-3__logo {
    grid-column: unset;
  }
  .section-3__socials-wrapper {
    grid-column: unset;
  }
  .section-3__contact-wrapper {
    grid-template-columns: unset;
    grid-template-rows: repeat(3, 1fr);
    gap: 6rem;
  }
}
